.navList {
  display: flex;
  gap: 40px;
  padding-bottom: 23px;
  border-bottom: 1px solid var(--gray-light);
}

.navItem {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}

.activeLink {
  position: relative;
}

.activeLink::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  height: 5px;
  background-color: var(--button);
}
