.input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: none;
  border-radius: 12px;
  padding: 18px;
  width: 527px;
  height: 60px;
  background-color: var(--inputs);
}

.textarea {
  height: 118px;
  margin-bottom: 10px;
  text-align: start;
  vertical-align: top;
  resize: none;
}

.container {
  position: relative;
}
